# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List of popular languages for Data Science
- List of commonly used libraries
- Table of data science tools
- Examples of arithmetic expressions

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Julia
4. JavaScript
5. Java

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib
4. Seaborn
5. Scikit-learn
6. Keras
7. TensorFlow
8. PyTorch
9. Spark

| Data Science Tools |
| ------------- |
| MySql |
| AirFlow |
| Kafka |
| TensorFlow |
| Spark |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Diego Reyes